<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Про нас</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
  <main class="container">
    <div id="about-root"></div>
    <div class="video-container">
      <video autoplay loop muted>
        <source src="/videos/background.mp4" type="video/mp4">
        Ваш браузер не підтримує відео тег.
      </video>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 Квітковий Магазин. Всі права захищені.</p>
  </footer>

  <script src="/scripts.js"></script>
  <script type="module" src="/js/build/about.js"></script>

</body>
</html>
