<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сторінка адміністратора</title>
  <link rel="stylesheet" href="/styles/admin.css">
</head>
<body>
  <nav></nav>
  <main class="admin-container" id="admin-no-access-container">
    <h2>Сторінка адміністратора</h2>
	
	<h1>Loading...</h1>
  </main>
  <footer>
    <p>&copy; 2024 Квітковий Магазин. Всі права захищені.</p>
  </footer>

  <script src="/scripts.js"></script>
</body>
</html>
