<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Квітковий Магазин</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <main class="container">
    <section class="products">
      <!-- Продукти будуть завантажуватися тут -->
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Квітковий Магазин. Всі права захищені.</p>
  </footer>

  <!-- Модальне вікно -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <p id="modal-message">Додати товар до корзини?</p>
      <button id="add-to-cart-button">Так</button>
      <button id="cancel-button">Ні</button>
      <button id="ok-button" style="display: none;">OK</button>
    </div>
  </div>

  <script src="/scripts.js"></script>
</body>
</html>
