<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Реєстрація</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav></nav>
  <main class="container">
    <h2>Реєстрація</h2>
    <div class="form-container">
      <form id="register-form">
        <label for="username">Ім'я користувача:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Зареєструватися</button>
      </form>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 Квітковий Магазин. Всі права захищені.</p>
  </footer>

  <script src="/scripts.js"></script>
</body>
</html>
